<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        
        <a href="{% url 'frontpage' %}" class="navbar-item">E commerce</a>

        <div class="nav-brand">
            
            <a href="" role="button" aria-label="menu" class="navbar-buger burger" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a href="{% url 'contact' %}" class="navbar-item">contact</a>
            </div>
        </div>
    </nav>

    <section class="section">
        {% block content%}
        {% endblock %}
    </section>
    
</body>
</html>